<h2 class="form-title">Add a blog post:</h2>
<input type="text" class="blog-post-title" required placeholder="Post Title...">
<textarea cols="30" rows="10" class="blog-post-content" required placeholder="Post Content..."></textarea>
<button type="submit" class="blog-post-submit"><i class="fa fa-check fa-2x"></i></button>
