@import '../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../bower_components/neat/app/assets/stylesheets/neat';

* {
	outline: none;
}

// Typography
$base-font-family: $helvetica;

// Colors
$blue: #477dca;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$very-light-gray: #fafafa;

$base-font-color: $dark-gray;
$base-background-color: $very-light-gray;

$main-background-color: rgb(109, 146, 155);
$foreground-color: rgb(193, 218, 214);

@import '../styles/form';

body {
  font-family: $base-font-family;
  background-color: $base-background-color;
  color: $base-font-color;
}

html, body {
	height: 100%;
}
